<i class="openChatBtn fab fa-facebook-messenger" id="icon-message"></i>

<div class="requiredChat container-fluid">
  <div class="row">
    <div class="col-lg-12 header-openChat">
      <button class="close">X</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 mb-1 content-box">
      <div align="center">
        <input id="content-name" class="form-control mt-3" type="text" placeholder="*Tên" required>
        <input id="content-email" class="form-control mt-3" type="email" placeholder="*Email" required>
        <input id="content-phone" class="form-control mt-3" type="text" placeholder="*Số điện thoại"
               required><br>
        <button class="btn form-control begin-chat">Bắt đầu trò chuyện</button>
      </div>
    </div>
  </div>
</div>
<div class="openChat container-fluid">
  <div class="row">
    <div class="col-lg-12 header-openChat">
      <button class="close">X</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 content-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="row"></div>
          <div class="row" id="icon-box">
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/taf/1/28/1f600.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t32/1/28/1f603.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb3/1/28/1f604.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t30/1/28/1f601.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb5/1/28/1f606.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t34/1/28/1f605.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb1/1/28/1f602.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/28/1f923.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tfa/1/28/263a.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t60/1/28/1f60a.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t36/1/28/1f607.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t2d/1/28/1f642.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tae/1/28/1f643.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t38/1/28/1f609.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t62/1/28/1f60c.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/te3/1/28/1f60d.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tcb/1/28/1f970.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t56/1/28/1f618.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/td5/1/28/1f617.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/td7/1/28/1f619.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tff/1/28/1f61a.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/te1/1/28/1f60b.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t80/1/28/1f61b.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t82/1/28/1f61d.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t1/1/28/1f61c.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t61/1/28/1f92a.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb8/1/28/1f928.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/tbe/1/28/1f9d0.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t94/1/28/1f913.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t64/1/28/1f60e.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t39/1/28/1f929.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t4e/1/28/1f973.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/te5/1/28/1f60f.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t50/1/28/1f612.png"/>
            </div>
            <div class="col-lg-1">
              <img src="https://static.xx.fbcdn.net/images/emoji.php/v9/t3/1/28/1f61e.png"/>
            </div>
          </div>
          <div class="row" id="file-space"><input type="file" id="file-upload"></div>
        </div>
      </div>
      <div class="row row-option">
        <form (ngSubmit)="sendMessage()" [formGroup]="formSend" class="form-inline">
          <div class="input-group form-inline" id="input-inline">
            <input id="content-mess" formControlName="content" class="form-control haha" type="text" placeholder="Type message ...">
            <span class="input-group-btn ml-1 mt-1">
              <i class="fas fa-paperclip icon-option" id="icon-upload-file"></i>
            </span>
            <span class="input-group-btn ml-1 mt-1">
              <i class="fas fa-kiss-wink-heart icon-option" id="icon"></i>
            </span>
            <button type="submit" class="input-group-btn ml-1 mt-1" id="btn-submit-mess">
              <i class="fas fa-paper-plane icon-option"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div style="height: 2000px"></div>


